# Port for client connections.
port: 4222

# http port for server monitoring.
http_port: 8222

# If true enable debug log messages
debug: true 

# If true enable protocol trace log messages. 
# Excludes the system account.
trace: false 

# If set to false, log without timestamps
logtime: true 

cluster {
  listen: 0.0.0.0:6222
  routes: [
    "nats-route://nats-streaming-2:6222",
    "nats-route://nats-streaming-3:6222",
  ]
}

streaming {
  id: nats-streaming-cluster
  store: file 
  dir: "/streaming-log"
  cluster {
    node_id: "a" 
    peers: ["b", "c"] 
  }
  store_limits {
    max_channels: 0       # 不限制最大的 channel 數
    max_subs: 0           # 不限制最大的訂閱數
    max_msgs: 0           # 不限制在每個channel內的最大訊息量
    max_bytes: 0          # 不限制在每個channel內的訊息最大容量
    max_age: "24h"        # 限制每個訊息在channel內的最大存在時間(預設持久不限)
    max_inactivity: "24h" # 當channel沒有任一的訂閱者時，能夠存在的最大時效
  }
}