go 1.19

use (
	./practice/game-management
	./practice/generics
	./practice/json-converter
	./practice/message-broker
	./practice/simple-cache
	./standard-library/benchmark
	./standard-library/context
	./standard-library/interface
	./standard-library/pointer
	./standard-library/select
	./standard-library/sizeof
	./standard-library/wire
	./third-party/arangodb
	./third-party/fx
	./third-party/jwt
	./third-party/nats
)
