go 1.19

use (
	./practice/convert-camel-case
	./practice/room-service
	./practice/simple-cache
	./standard_library/benchmark
	./standard_library/context
	./standard_library/interface
	./standard_library/pointer
	./standard_library/sizeof
	./third_party/arangodb
	./third_party/fx
	./third_party/jwt
	./third_party/nats
)
