server:
  name: "list-server"
  port: ":6600"

redis:
  address: "redis:6379"
  password: ""
  db: 0
  pool_size: 10
  list_collection_name: list
  page_expiration_time: 86400   # second
  page_key_prefix: page/