server:
  name: "trading-server"
  port: ":6600"

mysql:
  address: "mysql:3306"
  username: "root"
  password: "0"
  dbname: "trading"
  max_idle_conns: 10    # sets the maximum number of connections in the idle connection pool.
  max_open_conns: 100   # sets the maximum number of open connections to the database.
  conn_max_lifetime: 60 # sets the maximum amount of time a connection may be reused. (minutes)