# For advice on how to change settings please see
# https://gist.github.com/fevangelou/fb72f36bbe333e059b66
# https://www.796t.com/content/1563464403.html

[client]
port                  = 3306
socket                = /tmp/mysql.sock
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]

########################################## 基礎設定 ##########################################

server-id              = 1                           # MySQL 服務的唯一編號 每個 MySQL 服務 ID 需唯一
port                   = 3306                        # 服務埠號 預設 3306
datadir                = /var/lib/mysql              # MySQL 資料檔案所在位置
socket                 = /var/run/mysqld/mysqld.sock # 設定 socket 檔案所在目錄
skip_name_resolve      = 1                           # 只能用 IP 地址檢查客戶端的登入, 不用主機名
transaction_isolation  = READ-COMMITTED              # 事務隔離級別, 預設為可重複讀, MySQL 預設可重複讀級別
character-set-server   = utf8mb4                     # 資料庫預設字符集, 主流字符集支援一些特殊表情符號（特殊表情符佔用 4 個位元組）
collation-server       = utf8mb4_general_ci          # 資料庫字符集對應一些排序等規則, 注意要和 character-set-server 對應
init_connect           = 'SET NAMES utf8mb4'         # 設定 client 連線 MySQL 時的字符集, 防止亂碼
lower_case_table_names = 1                           # 是否對 SQL 語句大小寫敏感, 1 表示不敏感
max_connections        = 400                         # 最大連線數
max_allowed_packet     = 128M                        # SQL 資料包傳送的大小, 如果有 BLOB 物件建議修改成1G
wait_timeout           = 1800                        # MySQL 連線閒置超過一定時間後(單位：秒)將會被強行關閉
interactive_timeout    = 1800                        # MySQL 預設的 wait_timeout 值為 8 個小時, interactive_timeout 引數需要同時配置才能生效
back_log               = 130                         # 在 MySQL 暫時停止響應新請求之前的短時間內多少個請求可以被存在堆疊中
                                                     # 官方建議 back_log = 50 + (max_connections / 5), 封頂數為900

########################################## 日誌設定 ##########################################

log_error           = /var/log/mysqld.log     # 資料庫錯誤日誌檔案
slow_query_log      = 0                       # 慢查詢sql日誌設定
slow_query_log_file = /var/log/mysql_slow.log # 慢查詢sql日誌設定
long_query_time     = 8                       # 慢查詢執行的秒數，必須達到此值可被記錄 


######################################## InnoDB 設定 ########################################

innodb_buffer_pool_size = 1G # 一般設定物理儲存的60% ~ 70%